<div class="container">
  <div class="container-inner inner-default clearfix">
    <% itemkeys.each_with_index do |key, value| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap relative">
            <% if Item.find(key).large_image.present? %>
              <%= image_tag(Item.find(key).large_image , alt: Item.find(key).title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: Item.find(key).title) %>
            <% end %>
                <p class="absolute"><%= @i %>位</p>
                <% @i = @i + 1 %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= Item.find(key).title %>
          </p>
        </div>
        <%= render 'items/action' , item: Item.find(key) if logged_in? %>
      </div>
    <% end %>
  </div>
</div>