<div class="container">
  <div class="container-inner inner-default clearfix">
    <% itemkeys.each_with_index do |key, value| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap relative">
            <% if key.large_image.present? %>
              <%= image_tag(key.large_image , alt: key.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: key.title) %>
            <% end %>
                <p class="absolute"><%= value +1 %>位</p>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= key.title %>
          </p>
        </div>
        <%= render 'items/action' , item: key if logged_in? %>
      </div>
    <% end %>
  </div>
</div>